* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.main-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #444;
  color: #fff;
  padding: 1rem;
  height: 90vh;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  margin: 1rem 0;
}
.content {
  flex: 1;
  padding: 1rem;
}

.footer-container {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
